body, html{
	height: 100%;
	margin-top: -1px;
	margin-left: -1px;
	width: 100%
}
a{
	font-size: 0.45cm;
	color: green;
	text-decoration: none;
}
a:link{
	background-color: rgba(91, 20, 224, 0.137);
	color: rgb(204, 15, 15);
}
a:active{
	color: rgb(59, 177, 185);
}
a:visited{
	color: rgb(179, 20, 20);
}
a:hover{
	background-color:rgba(193, 231, 229, 0.349);
	color: rgb(23, 1, 95);
}
.zoom{
	transition: transforms .5s;
}
.zoom:hover{
	transform: scale(1.2);
}
body{
	background-color: #fff;
	background-size: cover;
	padding-bottom: 500px;
}

slider{
    display: block;
    width: 100%;
    height: 55%;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
}
slider>*{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    animation: slide 12s infinite;
    overflow: hidden;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(images/6.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(images/7.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(images/5.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    animation-delay: 8s;
    background-image: url(images/9.jpg);
    background-size: cover;
    background-position: center;
}
slide p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 240px;
    color: rgb(252, 250, 250);
}
@keyframes slide{
   0% {left: 100%; width: 100%;}
   5% {left: 0%;}
   25% {left: 0%;}
   30% {left: -100%; width: 100%;}
   30.0001% {left: -100; width: 0%;}
   100% {left: 100%; width: 0%;}
}

#ti{
	position: absolute;
    font-size: 2.2cm;
    z-index: 1;
	color: rgb(115, 224, 13);
	text-justify: center;
	left: 20%;
}



#container{
    width: 100%;
    height: 600px;
    border: inset;
    margin: 0 auto;
    position: relative;
}
#container>img{
    width: 100%;
    height: 100%;
    position: absolute; 
}

#container>#btn1{
    position: relative;
     width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 225px;
    background: rgba(224, 243, 242, 0.048);
    color: rgba(62, 212, 35, 0.281);
    font-size: 20px;
}
#container>#btn1:hover{
    box-shadow: 10px 10px 20px 0px black;
}
#container>#btn2:hover{
    box-shadow: 10px 10px 20px 0px black;
}
#container>#btn2{
    position: relative;
    float: right;
     width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 225px;
    background: rgba(236, 228, 228, 0.075);
    color: rgba(39, 201, 61, 0.308);
    font-size: 20px;
}


.side{
    position: absolute;
    top: 26%;
	transform: translateY(-50%);
	z-index: 7;
	margin-left: .2%;
	position: fixed;
	text-align: center;
}
.side a{
    background: #110eb3;
    color: rgb(248, 246, 246);
    font-size: 16px;
    display: block;
    width: 120px;
    padding: 14px;
    text-decoration: none;
    margin: 8px 0;
    border-radius: 6px;
    margin-left: -100px;
    transform: 1.9s all;
}
.side a:hover{
    margin-left: 0;
    background-color: rgb(32, 20, 192);
}
.banner{
    position: relative;
    height: 100vh;
    padding-bottom: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #000;
}
.banner:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    
}
.banner:before{
    content: '';
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility:hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform:  translateZ(0) scale(1.0, 1.0);
    -ms-transform:  translateZ(0) scale(1.0, 1.0);
    -o-transform:  translateZ(0) scale(1.0, 1.0);
    transform:  translateZ(0) scale(1.0, 1.0);
    background-image: url(images/11.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed; 
    animation: increase 60s linear 10ms infinite;
    -webkit-transform: all 0.2s ease-in-out;
    -moz-transform:  all 0.2s ease-in-out;
    -ms-transform:  all 0.2s ease-in-out;
    -o-transform:  all 0.2s ease-in-out;
    transform:  all 0.2s ease-in-out;
    z-index: -2;
}.banner-text{
    width: 60%;
    padding: 1% 10% 0 10%;
    text-align: center;
}
.banner-text h1{
    text-transform: uppercase;
    font-size: 60px;
    color: rgb(244, 248, 7);
    padding: 1px;
    
}
@keyframes increase{
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
}
.content_wrapper{
	margin-top: 300px;
	margin-left: 35%;
}
#bg{
	position: absolute;
	float: left;
}
#logo{
	position: absolute;
	float: left;
    margin-left: 3%;
}
#logos{
	left: 10%;
	height: 40px;
	width: 30%;
	position: absolute;
	z-index: 2;
	padding: 12px;
}
h2{
	z-index: 1;
	font-family: 'roboto',sans-serif;
	width: 70%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(59), blink 1s infinite;
}
@keyframes typing
{
	0%
	{
		width: 0px;
	}
}
@keyframes blink
{
	0%
	{
		border-color: transparent;
	}
}

#ban{
	width: 100%;
	background-color: rgba(30, 221, 13, 0.397);
	opacity: .8;
	z-index: 1;
	position: absolute;
}
#ban:hover{
	overflow: visible;
	background-color: rgba(218, 255, 255, 0);

}

.middle{
	float: right;
	z-index: 1;	
}
.btn{
	display: block;
	color: rgb(250, 249, 249);
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid rebeccapurple;
	padding: 1px 2px;
	overflow: visible;
	transition: 1s all ease;
}
.btn::before{
	background: rgb(230, 56, 56);
	content: "";
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 1;
	transition: all 0.6s ease;
}

.middle ul{
	padding: 10px;
	margin: 0px;
    list-style: none;
	float: right;
}
.middle ul li{
	border-radius: 5px;
	float: right;
	width: 100px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	margin: 2px;
	z-index: 1;
}
.middle ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
.middle ul li a:hover{
	border-radius: 5px;
	background-color: green;
	color: blue;
}
.middle ul li ul li{
	display: none;
}
.middle ul li:hover ul li{
	display: block;
}
#gif{
	margin-top: 50px;
	position: absolute;
}
h1{
	color: #000;
	margin-top: 100px;
	margin-bottom: 120px;
	font-size: 2cm;
}
#menu{
	background-color: rgb(35, 88, 3);
    margin-top: 0%;
	border: inset 5px;
	width: 99.5%;
	height: 40px;
	z-index: 1;
}
#menu ul{
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
    list-style: none;
	float: left;
	z-index: 2;
}
#menu ul li{
	float: left;
	width: 25%;
	height: 40px;
	background-color: rgb(2, 87, 21);
	opacity: .8;
	line-height: 40px;
	text-align: center;
	z-index: 3;
}
#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
#menu ul li a:hover{
	background-color: rgb(8, 238, 8);
	color: blue;
}
#menu ul li ul li{
	display: none;
}
#menu ul li:hover ul li{

	display: block;
}
#content{
	height: 20px;
	width: 100%;
	
}

#left{
	background-color: #fff;
	font-size: .5cm;
	border: groove;
	list-style: none;
	float: left;
	width: 20%;

}
#left ul{
	width: 100%;
	padding: 0px;
	margin: 0px;
    list-style: none;
	float: left;
}
#left ul li{
	margin: 2px;
	width: 100%;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
}
#left ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
#left ul li a:hover{
	background-color: green;
	color: blue;
}
#left ul li ul li{
	display: none;
}
#left ul li:hover ul li{

	display: block;
}
#headm{
	height: 100%;
	background-color: #fff;
	clear: both;
}
#head{
	height: 20px;
	background-color: rgb(16, 102, 116);
}
#main{
	text-align: center;
	color: black;
	width: 70%;
	float: right;
	margin-top: 0px;
	margin-right: 4.2%
}
#maincenter{
    background-color: rgb(243, 248, 250);
    position: absolute;
	left: 20.5%;
	right: 20%;
    top: 96%;
    width: 59.5%;
    height: 107.7%;
    z-index: 2;
    overflow: auto;
}
#mainright{
	position: absolute;
	left: 80%;
	border: groove;
	background-color: rgb(244, 247, 245);
	opacity: .8;
	text-align: center;
	color: black;
	width: 20%;
	margin-top: -2px;
	overflow: scroll;
	height: 113.4%;
}
.header{
	height: 35px;
	border: groove;
	background-color: rgb(182, 208, 212);
}

#leftimg{
	margin: 10px;
	height: 100%;
	width: 40%;
	float: left;
	
}
#centerimg{
	margin: 10px;
	height: 50%;
	width: 40%;
	float: right;
	border: groove;
	background-color: black;
	opacity: .8;
	color: white;
}
#rightimg{
	margin: 10px;
	height: 100%;
	width: 40%;
	float: left;	
}

#hed{
	top: 89.2%;
	right: 20%;
	left: 20.45%;
    position: absolute;
    width: 59.8%;
	float: center;
	z-index: 1;
}
#hed tr{
	height: 40px;
}

#nam{
    text-align: center;
    background-color: rgb(17, 211, 104);
}
#nam:hover{
    text-align: center;
    background-color: rgb(27, 180, 21);
}
#s{
    width: 50px;
}

#n{
	
}

#d{
	width: 60px;
	
}

#f{
	
	width: 79px;
	
}
table {
    counter-reset: tableCount;    
}
.counterCell:before {              
	counter-increment: tableCount; 
	content:"" counter(tableCount);
    
}
#tablestyle{
	margin-left: 0px;
    width: 100%;
    float: center;
}
#tablestyle tr{
    height: 40px;
}

#serial{
	width: 50px;
    text-align: right;
    background-color: rgba(160, 224, 154, 0.335);
}
#serial:hover{
    text-align: right;
    background-color: rgba(190, 56, 123, 0.198);
}
#roll{
    text-align: left;
    background-color: rgba(177, 231, 233, 0.486);
}
#roll:hover{
    text-align: center;
    background-color: rgba(233, 45, 45, 0.76);
}
#name{
	width: 60px;
    text-align: left;
    background-color: rgba(173, 238, 165, 0.294);
}
#name:hover{
    text-align: left;
    background-color: rgb(150, 40, 104);
}
#phone{
    text-align: right;
    background-color: rgb(31, 185, 17);
}
#phone:hover{
    text-align: right;
    background-color: rgb(199, 144, 26);
}
#email{
    text-align: left;
    background-color: rgb(202, 36, 218);
}
#email:hover{
    text-align: left;
    background-color: rgb(36, 63, 218);
}
#status{
    text-align: center;
    background-color: rgb(44, 58, 184);
}
#status:hover{
    text-align: center;
    background-color: rgb(184, 44, 114);
}
#more{
	margin-left: 10px;
	width: 100%;
}
#more tr{
	width: 25px;
}

#Contact{
	background-color: rgb(79, 32, 250);
	height: 20px;
	color: red;
	clear: both;
	margin-right: -5px;	
	text-align: center;
}
#Contact:hover{
	background-color: green;
	color: blue;
}

#frame2{
	background-color: #fff;
	width: 13%;
	list-style-type: none;
	float:right;
	margin-right: -5px;
}
#centerfooter{
	background-image: url(images/11.jpg);
	margin-left: 13.5%;
	margin-right: 13%;
	text-align: center;
	color: rgb(252, 249, 251);
}
#frame3{
	margin-top: -216px;
	width: 13%;
	list-style-type: none;
	float: left;
	margin-right: -5px;
}
#frame3:hover{
	background-color: green;
	color: blue;
}
#frame2:hover{
	background-color: green;
	color: blue;
}

#footer{
	background-color: rgb(184, 4, 145);
	height: 20px;
	color: red;
	border: groove;
	clear: both;
	margin-right: -5px;
	text-align: center;
	
}
#footer:hover{
	background-color: green;
	color: blue;
}